<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<!-- Main content -->
<h1>Internet Course - Exercise 4</h1>
<h2>Authors</h2>
<ul>
    <li>Abedallah Joulany</li>
    <li>ID 206461394</li>
    <li>abedallahjo@edu.hac.ac.il</li>
    </br>
    <li>Alaa Yahia</li>
    <li>ID 316400860</li>
    <li>alaaya@edu.hac.ac.il</li>
</ul>

<h2>Execution</h2>
<p>The submission is a WebStorm project that can be run directly from the IDE.</p>

<h2>Assumptions</h2>
<p>The site use bootstap CDN, connects to external API therefore assumes an internet connection is available.</p>

<h2>Notes</h2>
<ul>
    <li>We applied the register and the login process with no Ajax,
        while the weather forecast and the API requests applied with Ajax as it is required.</li>
    <li>When it's necessary we removed the session ID cookie not the whole session.</li>
    <li>City coordinates should be float not int (for example: 34.0) </li>
    <li>The user session will be over after 3 minutes from login.</li>

</ul>


<address>Submitted 30 November 2020 </address>
</body>
</html>